		
body 
{
 background-image: url(fond.png) ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  
}

.titulo 
{ 
font-family: Courier-New; 
width: 400;
height:45px;
background:#ffffff; 
}

.v
{
	
	position: absolute;
	width: 40%;
	height: 40%;
	top: 25%;
	left: 30%;
    background-color: white;
	  border: white 5px none;
	  text-align:center;
	font-size: xx-large;
	color:#EBA082;
	font-family: Comic Sans MS;
}

.ba {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#000000;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#D4D4D4;
border-color: #ffffff;
border-width: 8px;
border-style: solid;
border-radius:35px;
}

.ba:hover{
    opacity: 0.6;
    text-decoration: none;
  }