body 
{
 background-image: url(fondo.png) ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  
}



.cuadro
{
		
	position: absolute;
	width: 40%;
	height: 40%;
	top: 35%;
	left: 30%;
    background-color: #FFF3E6;
   
}
.c2
{
		
	position: absolute;
	width: 40%;
	height: 40%;
	top: 35%;
	left: 30%;
    background-color: #B9DEE5;
}
.c3
{
		
	position: absolute;
	width: 40%;
	height: 40%;
	top: 35%;
	left: 30%;
    background-color: #F7FCB1;
}
.c4
{

	position: absolute;
	width: 40%;
	height: 40%;
	top: 35%;
	left: 30%;
    background-color: #F9CFC0;	
	
}

.ver{
	position: absolute;
	left: 35%;
	top: 55%;
	width: 30%;
	background-color: white;
	  border: white 2px none;
	  text-align:center;
	font-size: xx-large;
	
}



 .bs {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#1B2631;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#FFF7F6;
border-color: #1B2631;
border-width: 8px;
border-style: solid;
border-radius:35px;

}

.bs:hover{
    opacity: 0.6;
    text-decoration: none;
  }
