.pt {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#1B2631;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#FFF7F6;
border-color: #1B2631;
border-width: 8px;
border-style: solid;
border-radius:35px;

}

.pt:hover{
    opacity: 0.6;
    text-decoration: none;
  }


 .st {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#1B2631;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#FFF7F6;
border-color: #1B2631;
border-width: 8px;
border-style: solid;
border-radius:35px;

}

.st:hover{
    opacity: 0.6;
    text-decoration: none;
}


  .bs {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#1B2631;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#FFF7F6;
border-color: #1B2631;
border-width: 8px;
border-style: solid;
border-radius:35px;

}

.bs:hover{
    opacity: 0.6;
    text-decoration: none;
  }

 .pl {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#1B2631;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#FFF7F6;
border-color: #1B2631;
border-width: 8px;
border-style: solid;
border-radius:35px;

}

.pl:hover{
    opacity: 0.6;
    text-decoration: none;
  }

.ca {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#1B2631;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#FFF7F6;
border-color: #1B2631;
border-width: 8px;
border-style: solid;
border-radius:35px;

}

.ca:hover{
    opacity: 0.6;
    text-decoration: none;
  }

